/* Base styles */
body {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.black-nav {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.black-nav a {
    text-decoration: none;
}

.band-name {
    font-size: 2em;
    font-weight: bold;
    color: white;
    font-family: 'Orbitron', sans-serif;
}

.menu-toggle {
    display: none; /* Hidden by default */
    font-size: 1.5em;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: auto;
    margin-right: 20px; /* Move it slightly to the left */
    padding: 10px; /* Add some padding to increase click area */
}

.nav-menu {
    display: flex;
}

.nav-menu ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 2;
    font-size: 25px;
}

.nav-menu ul li {
    margin-right: 25px;
}

.nav-menu ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-menu ul li a:hover {
    color: #38b2ac;
}

.band-background {
    background-image: url('images/bandbackground.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 60px; /* For fixed navigation bar */
}

.video-title {
    color: white;
    text-align: center;
    margin-bottom: 15px;
}

.video-container {
    width: 100%;
    max-width: 700px;
    padding: 20px;
}

.video-box {
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    aspect-ratio: 16 / 9;
}

.video-box iframe {
    border-radius: 5px;
}

.social-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.social-icon {
    color: white;
    font-size: 24px;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.2);
    color: #38b2ac;
}

/* Responsive styles */
@media (max-width: 768px) {
    .nav-menu {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 999;
    }

    .nav-menu ul {
        flex-direction: column;
        text-align: center;
    }

    .menu-toggle {
        display: block;
    }

    .nav-menu.show {
        display: flex;
    }
}
